@font-face {
  font-family: 'fontawesome';
  src:url('/fonts/fontawesome.eot');
  src:url('/fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('/fonts/fontawesome.woff') format('woff'),
    url('/fonts/fontawesome.ttf') format('truetype'),
    url('/fonts/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-download, .icon-warning-sign, .icon-arrow-right, .icon-arrow-left, .icon-archive, .icon-search, .icon-bullhorn, .icon-rss, .icon-group, .icon-star-empty, .icon-umbrella, .icon-book, .icon-calendar, .icon-circle-arrow-left, .icon-circle-arrow-right, .icon-circle-arrow-up, .icon-circle-arrow-down, .icon-chevron-sign-right, .icon-chevron-sign-left, .icon-chevron-sign-up, .icon-chevron-sign-down, .icon-arrow-up, .icon-arrow-down, .icon-comments-alt, .icon-comment-alt, .icon-comments, .icon-comment {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-download:before {
  content: "\e000";
}
.icon-warning-sign:before {
  content: "\e001";
}
.icon-arrow-right:before {
  content: "\e002";
}
.icon-arrow-left:before {
  content: "\e003";
}
.icon-archive:before {
  content: "\e004";
}
.icon-search:before {
  content: "\e005";
}
.icon-bullhorn:before {
  content: "\e006";
}
.icon-rss:before {
  content: "\e007";
}
.icon-group:before {
  content: "\e008";
}
.icon-star-empty:before {
  content: "\e009";
}
.icon-umbrella:before {
  content: "\e00a";
}
.icon-book:before {
  content: "\e00b";
}
.icon-calendar:before {
  content: "\e00c";
}
.icon-circle-arrow-left:before {
  content: "\e00d";
}
.icon-circle-arrow-right:before {
  content: "\e00e";
}
.icon-circle-arrow-up:before {
  content: "\e00f";
}
.icon-circle-arrow-down:before {
  content: "\e010";
}
.icon-chevron-sign-right:before {
  content: "\e011";
}
.icon-chevron-sign-left:before {
  content: "\e012";
}
.icon-chevron-sign-up:before {
  content: "\e013";
}
.icon-chevron-sign-down:before {
  content: "\e014";
}
.icon-arrow-up:before {
  content: "\e015";
}
.icon-arrow-down:before {
  content: "\e016";
}
.icon-comments-alt:before {
  content: "\e017";
}
.icon-comment-alt:before {
  content: "\e018";
}
.icon-comments:before {
  content: "\e019";
}
.icon-comment:before {
  content: "\e01a";
}
