/*
podding - general layout (*salutes*)
*/

html, body {
	height: 100%;
}

#wrapper {
	height: 100%;
	width: 90%;
	max-width: 816px;
	margin: @line auto;
}

header, #sidebar {
	clear: both;
	width: 100%;
	margin: 0 auto;
	#sidebar-content {
		
	}
}



	header {
		text-align: center;
	}

	nav {
		clear: both;
		margin: @line 0;
}



#content {
	float: left; // needed for arcane box model reasons
	width: 95%;
	padding-bottom: @line;
	margin: 0 2.5%;
	#page-content.text-content-long {
		margin: 0 auto;
	}
	@media all and (max-width: @break2)   {
      width: 100%;
      padding: 0 2.5%;
    }
	
}


#secondary {
	margin-top: 2*@line;
}


#footer {
	width: 100%;
	clear: both;
}

/* A very basic "grid" "system" for pages like the feedback page */

.column-main {
  width: 60%;
}

.column-secondary {
  width: 35%;
}

.column-left {
	float: left;
	@media all and (max-width: @break1)   {
    clear: both;
    width: 100%;
  }
}

.column-right {
	float: right;
	@media all and (max-width: @break1)   {
    clear: both;
    width: 100%;
    margin-top: @line;
  }
}

.column-heading {
  margin: 0;
	@media all and (max-width: @break1)   {
    margin-top: @line;
    width: 100%;
    text-align: center;
  }
}





