/*
podding - general layout (*salutes*)
*/

html, body {
	height: 100%;
  width: 100%;
}

#wrapper {
	height: 100%;
	width: 95%; // give some nice breathing room
	max-width: 960px; // we don't have a large-screen layout yet. not sure if needed.
	margin: @line auto;

  @media all and (max-width: @break2)   { // on small screen, we become very much fullscreen
      width: 100%;
      margin: 0;
      padding: 0;
    }
}

header {
	clear: both;
	width: 100%;
	margin: 0 auto;
}

#content, #secondary {
	float: left; // needed to asses width properly (the box model is creaky)
	width: 95%; // this allows the navigation to "stick out"
	padding-bottom: @line;
	margin: 0 2.5%;
}

#footer {
  width: 95%;
	clear: both;
  padding: @line 2.5%; // that way the border on small screens reaches to the edge
}

/* A very basic "grid" "system" for pages like the feedback page (they stack on small screens) */

.column-main {
  width: 65%;
}

.column-secondary {
  width: 30%;
}

.column-left {
	float: left;

	@media all and (max-width: @break2)   {
    clear: both;
    width: 100%;
  }
}

.column-right {
	float: right;

	@media all and (max-width: @break2)   {
    clear: both;
    width: 100%;
    margin-top: @line;
  }
}

.column-heading {
  margin: 0;

	@media all and (max-width: @break2)   {
    margin-top: @line;
    width: 100%;
    text-align: center;
  }
}





