/*
podding - stylesheet for generic objects (lol)
*/

/* General Styles */

.title {
  a {
    .hide-link;
    color: @highlight;
  }
}

/* Some more title details */

  .quip { // use this in a span in headers etc.
    .em-dashed;
    font-style: italic;
    color: @text-less;
  }

  .title-label { // this as well
    font-weight: 500;
    .with-colon;
  }

.moreLink {
  .textLink;
  .sized;
  margin-right: 1em;
  font-family: @supportFonts;

  @media all and (max-width: @break3)   {
      float: right;
      width: 50%;
      margin: 0;
      text-align: right;
  }
}

/* Header */
  /* Site Header */

  #site-title {
    a {
      color: @text;
      .hide-link;
    } 
  }

  #tagline {
    font-size: 1.3rem;
    line-height: 2*@line;
    font-style: italic;
    @media all and (min-width: @break1)   {
      
    }
  }

  /* Navigation */

    nav {
      height: 2*@line;
      background-color: @highlight;
      .starkShadow;
      font-family: @supportFonts;
      text-align: center; 
    }

    nav > ul { // for a reason I don't quite understand I can't use .nav-list here
      .inline-list;
      display: block;
      height: 100%;
      width: 95%;
      margin: 0 2.5% 0 2.5%;
      float: left;
      padding: 0 0;
      // this part compresses the menu descriptions according to viewport width
      @media all and (max-width: @break1)   { 
        span > span {
          display: none;
        }
      }
      @media all and (max-width: @break2)   {
        span {
          display: none;
        }
      }
    }

    .nav-item {
      padding: 0.5*@line 0;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: @line;
      i {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .nav-link {
      .basicLink-alt;
      .spaced;
      color: @bg;
      border: none;
      &:hover {
        color: @text;
      }
    }

    .popover-menu {
      .popover;
      .popover-content {
        top: 49px;
        left: -14px;
        width: 150px;
        height: auto;
        li {
          display: block;
          margin: 0;
          a {
            .hide-link-hardcore;
          }
        }
      }
    }

/* Secondary ("sidebar") */

  #sidebar {
    border-top: 1px solid @sub;
    padding-top: @line;
    
    @media all and (min-width: @break1) {
      border: none;
      padding-top: 0;
    
    }
  }

/* Footer */
  #footer {
    margin-top: @line;
    border-top: 1px solid @sub;
    padding-bottom: @line;
    font-size: 0.8rem;
    color: @text-less;
    
    a { 
      .hide-link; 
      border-bottom: 
      1px solid; 
    }
  }

/* Episodes */
  
  .episode {
    padding-bottom: @line;
    margin-bottom: @line;
  }

  .episode--mini {
    font-family: @supportFonts;
  }

  /* Episode Header */

    .episode-header {
      margin-bottom: 0.5*@line;
    }

    .episode-header-spacer {
      .spacer;
      font-weight: 400;
    }

    .episode-episodeNumber {
      margin-right: 0.5em;
      .hide-link;
      font-weight: 300;

      span {
        margin-left: 0.2em;
        font-weight: 600;
        font-size: 0.75em; // because Helvetica doesn't have lining figures
        text-transform: uppercase;
      }
    }

    .episode-episodeNumber--mini {
      .title-label;
    }

    .episode-metaInfo {
      margin-top: 0.5*@line;
      font-family: @supportFonts;
      font-size: 1rem;
      font-weight: 500;

      .episode-hostsList--mini {
        a {
          text-decoration: none;
          color: @sub;
          margin: 0;
          .hide-link;
          .itemized;
        }
      }
    }

  .episode-hostsList--full {
    float: left;
    width: 100%;
    margin-bottom: @line;
    .host-container {
     float: left;
     margin-right: 0.5*@line;
     text-align: center;
    }
    img {
      height: 3*@line;
    }
    .host-link-image {
      .hide-link-hardcore;
    } 

    .host-link-name {
      .hide-link-less;
    }

    @media all and (max-width: @break1)   {
      text-align: center;
      .host-container {
        float: none;
        display: inline-block;
        margin: 0 0.25*@line;
      }
    }
  }

  .episode-content {
    float: left;
    width: 100%;
    @media all and (max-width: @break2)   {
      margin-left: 0;
    }
    .shownotes {
      margin-top: @line;
    }
  }

  /* Episode download links */

    .episode-downloadLinks--short { // these are displayed in short mode when rendering an episode
      margin-right: 20%;
      @media all and (max-width: @break3)   {
        float: left;
        width: 50%;
        margin: 0;
      }
    }

    .episode-downloadLinks--full {
      float: left;
      width: 100%;
      @media all and (max-width: @break1)   {
        text-align: center;
      }
    }

    .episode-downloadLink { // styling for episode download links, this one is used in short mode
      .textLink;
      .sized;
      margin-right: 1em;
      font-family: @supportFonts;
      @media all and (max-width: @break3)   {
          float: left;
          width: 50%;
          margin: 0;
          text-align: left;
        }
      
      color: @text-even-less;
    }

    .episode-downloadLink--full { // extend download link style for for episodes in full mode
      .textLink;
      .sized;
      margin-right: 1em;
      float: none;
      display: inline;
      color: @text-less;
      @media all and (max-width: @break2)   { 
        margin: 0 0.25*@line;
      }
    }
  
  /* Episode player */

    .episode-player {
      clear: both;
      margin: 0 auto;
    }  

/* Episode lists */
  
  .episodeList {
    width: 100%;
    float: left;
    margin-top: 1.5*@line;
    .episodeList-moreLink {      
      color: @text-less;
      .hide-link-hardcore;
      img {
        float: left;
      }
      span {
        margin-left: 24px;
        color: @text-less;
        &:hover {
              color: @highlight2;
            }
      }
    }
    .episode {
      float: left;
      margin-left: 40px;
      @media all and (max-width: @break2)   { 
        margin-left: 0;
      }
    }
    .episode--published {
      border-bottom: 1px solid @sub;
    }
    @media all and (max-width: @break2)   {
     border-top: 1px solid @sub;
     padding-top: @line;
     &:first-child {
       border-top: none;
       padding-top: 0; 
      }
    }
  }


  .episodeListMini {
    float: left;
    margin: 0 0 0 40px;
    
    @media all and (max-width: @break2)   { 
      margin-left: 0;
    }

    padding: 0;
    .inline-list;

    li {
      float: left;
      margin-right: 0.1em;
      font-size: 1.1rem;
      font-weight: 500;
      @media all and (max-width: @break2)   {
        font-size: 1rem;
        font: 300;
      }
    }

    .episodeList-moreLink {
      .inlineIcon;
      color: @text-even-less;
      padding-left: 0.2rem;
    }
  }

  .episodeListContainer { // this contains the mini episode lists
      float: left; // if you don't float this, the box model can't properly asses the height of the div and layout breaks in weird ways
    }

  .episodeList-label {
    .basicLink; // inherit colours etc
    .inlineIcon; // make the icon fit in
    .popover;
    position: absolute;
    color: @text;
    i {
      vertical-align: middle;
    }
    .popover-content {
      top: 30px;
      left: -20px;
      width: 200px;
      &:before, &:after {
        left: 20px;
      }
    }

    @media all and (max-width: @break2)   { 
      width: 100%;
      max-width: 100%;
      position: relative;
      float: left;
      margin-bottom: 0.5*@line;
      i {
        margin-top: -0.15em;
      }
      text-align: center;
      .popover-content {
        position: static;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: visible;
        opacity: 1;
        display: inline;
        border: none;
        padding: 0;
        background: transparent;
        color: inherit;
        font-weight: 500;
        &:before, &:after {
          visibility: hidden;
        }
      }
    }
  }

  .episodeList--published .episodeList-label {
    @media all and (min-width: @break2)   { 
      visibility: hidden;
    }
  }


  .episode--mini {
      &:after {
        content: " / ";
        color: @text-less;
        font-weight: 800;
      }
      a { 
        color: @highlight-less;
        span { color: @text-less;}
        &:hover {
          color: @highlight2;
        }
      }
      &:last-child {
        &:after {
        content: "";
      }
      }
    }

/* Shows */

  .showCard {
    .card;
    .card-title {
        span {
          text-transform: uppercase;
          font-variant: small-caps;
          color: @text-less;
          font-size: 0.6em;
        }
      }
    
    .episodeListContainer {
      width: 100%;
    }
  }

/* Hosts */ 

  .hostCard {
    .card;
    .card-title {
      margin: 0;
      span {
        .em-dashed;
        font-style: italic;
        color: @text-less;
      }
    }
    .social-links {
      margin: 0 0 @line 0;
      padding: 0;
      .inline-list;
      li {
        .dotted;
        a {
          .hide-link;
        }
      }
    }
  }

/* Content area decoration */

  #paging-links {
    color: @text-less;
    margin-bottom: 2*@line;
    .link-older {
      .inlineIcon;
      .sized;
      float: left;
    }
    .link-newer {
      .inlineIcon;
      .sized;
      float: right;
    }
  }

/* Styling for .pages */

  .page {
    margin-top: @line;
  }

  .page-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5*@line;
    a {
      .hide-link;
    }
    span.quip {
      font-size: 1.2rem;
    }
  }

/* Forms */

  form {
    width: 20*@line;
    padding: 0;
    margin-top: @line;
    ol {
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    li {
      clear: both;
      float: left;
      width: 100%;
      list-style: none;
    }
    label {
      float: left;
      height: 100%;
      width: 5*@line;
      text-align: left;
    }
    input, textarea {
      float: left;
      width: 12*@line;
      margin-left: 1rem;
      margin-top: -0.25*@line; // needed for lining up the fields with their labels
      margin-bottom: 0.75*@line;
      border: 1px solid transparent;
      padding: 0.25*@line;
      line-height: @line;
      &:focus {
        border: 1px solid @text;
        .bordered;
        outline: none;
      }
      &:placeholder {
        color: red;
      }
    }
    @media all and (max-width: @break2)   {
      width: 100%;
      max-width: 25rem;
      float: left;
      label, input, textarea, button, .support-text {
        clear: both;
        float: left;
        width: 90%;
        margin: 0 1%; // leave some space for the padding
      }
      label, .form-note {
        text-align: center;
      }
      button {
        width: 100%;
        float: left;
      }
    }
  }

  .form-note {
    margin-top: @line;
    margin-bottom: @line;
    color: @text-less;
    font-size: 0.9rem;
    line-height: @line;
    font-style: italic;
  }

  .support-text {
    clear: both;
    width: 100%;
    color: @text-less;
    font-size: 0.8rem;
  }


