/*
podding - stylesheet for specific pages
*/


/* Index */

  .index  {
      .live-episodes {
        
        margin-top: 2*@line;
      }
      .planned-episodes {
        clear: both;
        margin-bottom: @line;
        
        width: 100%;
      }
      .published_episodes {
       
      }
    }



/* Single Episode */

.single-episode {
  
  .episode {
    border-bottom: none;
  }
}

/* Crew Page */



/* Abo page */

.page-abo {
  .button {
    margin-bottom: 0.5*@line;
  }
}


.feedtable {
  width: 100%;
  td {
    padding: 3px 1rem;
    a {
      .hide-link;
    }
  }
  tr {
    &:nth-child(2n) {
      background-color: @bg-less;
    }
  }

}

