/*
podding - stylesheet for specific pages
*/


/* Index */

  .index  {
      #live-episodes {
        float: left;
        margin-top: 2*@line;
      }
      #planned-episodes {
        clear: both;
        margin-bottom: @line;
        float: left;
        width: 100%;
      }
      #planned-episodes-list {
        float: left;
        width: 90%;
        @media all and (max-width: @break2)   { // prevent list from weird formatting on small screens
          width: 85%;
        }
      }
      #published-episodes {
        float: left;
      }
    }



/* Single Episode */

.single-episode {
  
  .episode {
    border-bottom: none;
  }
}

/* Crew Page */



/* Abo page */

.page-abo {
  .button {
    margin-bottom: 0.5*@line;
  }
}


.feedtable {
  width: 100%;
  td {
    padding: 3px 1rem;
    a {
      .hide-link;
    }
  }
  tr {
    &:nth-child(2n) {
      background-color: @bg-less;
    }
  }

}

/* Shows */

.shows {
  .show {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: @line;
    border-bottom: 1px solid @sub;
  }
}