header.instapaper_ignore
  h1#site-title: a href="/"
    | #{ settings.title }
  p#tagline
  nav
    ul#nav-list
      li.nav-item: a.nav-link href="/pages/info"
        | <i class="icon-book"></i><span>Info<span class="hide-at-break1">rmationen</span></span>
      li.nav-item.popover-menu 
        a.nav-link href="/hosts"
          | <i class="icon-group"></i><span>Hosts</span>
        ul.popover-content
          - for host in all_hosts do
            li: a.inlineIcon href="#{ url_for(host) }" 
              |  #{ host.full_name } <i class="icon-arrow-right"></i>

      li.nav-item.popover-menu
        a.nav-link href="/shows"
          | <i class="icon-star"></i><span>Shows</span>
        ul.popover-content
          - for show in all_shows do
            li: a.inlineIcon href="#{ url_for(show) }" 
              |  #{ show.title } <i class="icon-arrow-right"></i>
            
      li.nav-item: a.nav-link href="/pages/abo"
        | <i class="icon-rss"></i><span>Abo<span class="hide-at-break1">nnieren</span></span>
      li.nav-item: a.nav-link href="/pages/feedback"
        | <i class="icon-comments-alt"></i><span>Feedback</span>
      li.nav-item: a.nav-link href="/pages/archive"
        | <i class="icon-list"></i><span>Archiv</span>

