#content.archive
  == slim :"includes/_page-title", :locals => { :page => @page }

  - for year in @episodes.keys do
    == slim :"includes/_episode-list", :locals => { :episodes => @episodes[year], :mode => "archive", :list_label => year}