#content.shows
  == slim :"includes/_page-title", :locals => { :page_title => "Shows", :page_icon => "star-empty" }

  - for show in @shows do
      == slim :"includes/_show", :locals => { :show => show, :mode => "short" }
